@font-face {
    font-family: 'Nexa Bold';
    src: url('fonts/Nexa\ Bold.otf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 800;
    src: url('fonts/Montserrat-ExtraBold.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 800;
    font-style: italic;
    src: url('fonts/Montserrat-ExtraBoldItalic.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    src: url('fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: italic;
    src: url('fonts/Montserrat-BoldItalic.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    src: url('fonts/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    font-style: italic;
    src: url('fonts/Montserrat-SemiBoldItalic.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 500;
    src: url('fonts/Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: italic;
    src: url('fonts/Montserrat-MediumItalic.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: url('fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: italic;
    src: url('fonts/Montserrat-Italic.ttf');
}

*:not(b):not(h1):not(h2):not(h3):not(h4) {
    letter-spacing: 0px;
    font-weight: 400;
}

body {
    margin: 0;
    overflow-x: hidden;
    background: #fff;
}

header {
    position: relative;
    background: url('img/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: block;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    user-select: none;
}

.logo {
    position: absolute;
    top: 80px;
    left: 5vw;
    width: 320px;
    cursor: pointer;
    user-select: none;
}

.logo h1 {
    height: 100px;
    width: 320px;
    margin: 0;
    text-align: center;
    line-height: 110px;
    background: rgba(0,0,0,.9);
    font-family: 'Nexa Bold';
    font-size: 50px;
    color: white;
    display: inline-block; 
    -box-shadow: 0 3px 12px rgba(0,0,0,.25);
}

.logo h2 {
    position: absolute;
    bottom: -50px;
    left: 5px;
    height: 30px;
    line-height: 32px;
    font-family: 'Nexa Bold';
    font-weight: 600;
    font-size: 16px;
    color: rgba(255,255,255,.75);
    letter-spacing: 1px;
    background: rgba(0,0,0,.9);
    padding: 0 20px;
}

.logo h2::before {
    position: absolute;
    left: -5px;
    content: "";
    height: 30px;
    width: 5px;
    background: #D13232;
}

header > nav {
    position: absolute;
    top: 100px;
    right: 5vw;
    height: 60px;
    -background: #000;
    background: transparent;
    -border-bottom: 5px solid #fff;
    border: none;
    -box-shadow: 0 3px 12px rgba(0,0,0,.25);
}

header > nav > a, header > nav > span {
    display: inline-block;
    height: 100%;
    padding: 0 25px;
    line-height: 60px;
    text-decoration: none;
    font-family: 'Nexa Bold';
    font-size: 16px;
    color: #000;
    -box-sizing: border-box;
    margin: 0;
    cursor: pointer;
}

header > nav > a:hover, header > nav > span:hover {
    background: rgba(0,40,100,.03);
}

header > nav > a:active, header > nav > span:active {
    background: rgba(0,40,100,.1);
    border-bottom: 5px solid #D13232;
    color: #000;
}

header > nav > a[selected], header > nav > span[selected] {
    background: rgba(0,40,100,.1);
    border-bottom: 5px solid #D13232;
    opacity: 1;
}

.about-menu {
    position: absolute;
    top: 44px;
    left: 80px;
    list-style: none;
    padding: 0;
    background: rgba(255,255,255,1);
    width: 140px;
    padding: 10px 0;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);

    transform: translateY(-20px) scale(.9);
    opacity: 0;
    transition: transform .1s, opacity .1s;
}

.about-menu::before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: rgba(255,255,255,1) transparent;
    display: block;
    width: 0;
    top: -10px;
    left: 50%;
    margin-left: -10px;
}

.about-menu li {
    font-family: 'Nexa Bold';
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.about-menu li:hover {
    background: rgba(0,0,0,.1);
}

.about-menu li a {
    color: #000;
    text-decoration: none;
    padding: 10px;
}   

header .menu-btn {
    width: 60px;
    height: 60px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

header .menu-btn .material-icons {
    font-size: 28px;
    font-weight: 800;
    color: #000;
    position: relative;
    top: 1px;
}

header {
    transition: transform .3s;
}

.side-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    
    background: #0f0f0f;
    background-image: url('img/background.png');
    background-size: auto 100%;
    background-position: 25% center;
    background-blend-mode: overlay;

    box-sizing: border-box;
    z-index: 0;
    transform: translateX(-50px) scale(.9);
    transition: transform .3s;

    padding: 20px;
    font-family: 'Montserrat';
    font-weight: 600;
    color: #fff;
}

.side-menu h1 {
    border-left: 5px solid #D13232;
    font-family: 'Nexa Bold';
    color: #fff;
    padding: 8px 15px;
}

.side-menu nav {
    width: 200px;
    padding: 5px 0;
}

.side-menu nav a {
    background: rgba(255,255,255,.1);
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 15px 20px;
    margin: 5px 0;
}

.side-menu nav a:hover {
    color: #D13232;
}

header .language {
    position: absolute;
    bottom: 5vh;
    right: 5vw;
    padding: 5px;
    opacity: .9;
    background: #fff;
    width: 40px;
}

header .language img {
    width: 40px;
    display: block;
}

header .language:hover {
    opacity: 1;
}

header .language::after {
    position: absolute;
    top: 5px;
    left: 60px;
    content: attr(data-msg);
    width: 200px;   
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    mix-blend-mode: difference;
    opacity: 0;

    transform: translateX(-20px);
    transition: transform .3s, opacity .5s;
}

header .language:hover::after {
    transform: translateX(0px);
    opacity: 1;
}

.content {
    display: block;
    width: 100%;
    background: #fff;
}

section {
    width: 80%;
    border-top: 5px solid #eee;
    margin: 50px auto;
    padding: 25px 5% 0 5%;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

section h1 {
    font-family: 'Nexa Bold';
    font-size: 32px;
    display: inline-block;
    -border-bottom: 5px solid #D13232;
    -background: #eee;
    padding: 10px 0;
}

section a {
    padding: 20px 0;
    margin: 30px 0;
    color: #D13232;
    font-family: 'Nexa Bold';
    text-decoration: none;
}

section a:hover {
    text-decoration: underline;
}

section img {
    float: right;
    margin: 20px;
}

@media screen and (max-width: 800px) {
    .content {
        padding: 0;
    }
    section {
        position: relative;
        padding: 25px 0 0 0;
        margin: 25px auto 0 auto !important;
        width: 90%;
    }

    section h1 {
        width: 100%;
        text-align: center;
        margin: 10px 0;
        line-height: 40px;
    }

    section p {
        width: 100% !important;
        margin: 20px 0;
    }

    section a {
        text-align: center;
        display: block;
        margin: 0 auto;
    }

    section img {
        position: relative;
        margin: 0 auto !important;
        width: 80%;
        height: auto;
        float: none;
        display: block;
    }

    section .concert {
        margin: 20px auto;
        width: auto;
    }

    section .concert .date {
        font-size: 14px;
    }
}

footer {
    width: 100%;
    padding: 50px 0;
    background: #111 url('img/3.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-blend-mode: overlay;
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
}

footer nav {
    margin: 25px;
    padding: 10px;  
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}

footer nav a, footer nav span {
    color: #fff;
    text-decoration: none;
    font-family: 'Nexa Bold';
    font-size: 16px;
    padding: 20px 25px;
    cursor: pointer;
    position: relative;
}

footer nav a:hover, footer nav span:hover {
    color: #D13232;
}

footer nav span .about-menu {
    top: 30px;
    left: -25px;
}

footer nav span:hover .about-menu {
    transform: translateY(0px) scale(.9);
    opacity: 1;
}

footer nav .about-menu li {
    padding: 20px 0;
}

footer .social {
    padding: 20px 0;
    margin: 20px auto 0 auto;
}

footer .social a {
    margin: 0 20px;
}

footer .social a img {
    height: 42px;
}

footer .footer-content {
    display: inline-block;
    margin: 10px 25px;
    color: #fff;
}

footer .links {

}

footer .links a {
    color: #D13232; 
    font-size: 14px;
    margin: 0 20px;
}

@media screen and (max-width: 800px) {
    footer nav a, footer nav span {
        font-size: 12px;
        padding: 5px;
    }

    footer .links a {
        font-size: 12px;
    }

}