
header {
    height: 220px;
    background-color: rgba(255,255,255,.8);
    background-blend-mode: overlay;
}

.logo {
    position: absolute;
    top: 40px;
    left: 5vw;
    width: 320px;
}

.logo h1 {
    height: 100px;
    width: 320px;
    margin: 0;
    text-align: center;
    line-height: 110px;
    background: rgba(0,0,0,.9);
    font-family: 'Nexa Bold';
    font-size: 50px;
    color: white;
    display: inline-block; 
    -box-shadow: 0 3px 12px rgba(0,0,0,.25);
}

.logo h2 {
    position: absolute;
    bottom: -50px;
    left: 10px;
    height: 30px;
    line-height: 32px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    color: rgba(255,255,255,.75);
    letter-spacing: 1px;
    background: rgba(0,0,0,.9);
    padding: 0 20px;
}

.logo h2::before {
    position: absolute;
    left: -10px;
    content: "";
    height: 30px;
    width: 10px;
    background: #D13232;
}

header > nav {
    top: 60px;
    background: transparent;
    color: #000;
    border-bottom: none;
}

header > nav > a, header > nav > span {
    color: #000;
}

header > nav .about-menu {
    top: 50px;
}

header .menu-btn {
    width: 60px;
    height: 60px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

header .menu-btn .material-icons {
    font-size: 28px;
    font-weight: 800;
    color: #000;
    position: relative;
    top: 1px;
}

header {
    transition: transform .3s;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    
    background: #0f0f0f;
    background-image: url('img/background.png');
    background-size: auto 100%;
    background-position: 25% center;
    background-blend-mode: overlay;

    box-sizing: border-box;
    z-index: 0;
    transform: translateX(-50px) scale(.9);
    transition: transform .3s;

    padding: 20px;
    font-family: 'Montserrat';
    font-weight: 600;
    color: #fff;
}

.menu h1 {
    border-left: 5px solid #D13232;
    font-family: 'Nexa Bold';
    color: #fff;
    padding: 8px 15px;
}

.menu nav {
    width: 200px;
    padding: 5px 0;
}

.menu nav a {
    background: rgba(255,255,255,.1);
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 15px 20px;
    margin: 5px 0;
}

.menu nav a:hover {
    color: #D13232;
}

@media screen and (max-width: 1100px) {
    header > nav a {
        display: none;
    }

    header > nav .menu-btn {
        display: block !important;
    }

    header > nav a, header > nav span {
        display: none;
    }

    header > nav .menu-btn {
        display: block !important;
        color: #000;
        width: 100px;
    }

    header > nav .menu-btn span {
        font-family: 'Nexa Bold';
        color: #D13232;
        position: relative;
        top: -7px;
        left: 5px;
        font-size: 14px;
    }

    header > nav {
        background: transparent;
        position: absolute;
        top: 5px;
        left: 5px;
    }

    header .logo {
        top: 50px;
        left: 50%;
        margin-left: -160px;
    } 
}

@media screen and (max-width: 800px) {
    header {
        background-position: 33% 50%;
    }
}

@keyframes jump {
    from { transform: translateY(0px); opacity: 0 }
    to { transform: translateY(-20px); opacity: 1 }
}

header .language {
    position: absolute;
    bottom: 20px;
    right: 5vw;
}

header .language img {
    width: 40px;
    display: block;
}

header .language:hover {
    opacity: 1;
}

header .language::after {
    position: absolute;
    top: 5px;
    left: 60px;
    content: attr(data-msg);
    width: 200px;   
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    mix-blend-mode: difference;
    opacity: 0;

    transform: translateX(-20px);
    transition: transform .3s, opacity .5s;
}

header .language:hover::after {
    transform: translateX(0px);
    opacity: 1;
}

.scrolldown {
    position: absolute;
    left: 50%;
    bottom: 5px;
    width: 100px;
    margin-left: -50px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    padding: 5px;
    opacity: 0;
    mix-blend-mode: difference;

    animation-name: jump;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 2s;
    -animation-delay: 2s;

}

.scrolldown .material-icons {
    font-size: 60px;
    position: relative;
    top: 10px;
    color: #D13232;
}

.content {
    display: block;
    width: 100%;
    background: transparent;
}

section {
    width: 80%;
    border-top: 5px solid #eee;
    margin: 50px auto;
    padding: 25px 5% 0 5%;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
}

section:first-child {
    
}

section h1 {
    font-family: 'Nexa Bold';
    font-size: 32px;
    display: inline-block;
    -border-bottom: 5px solid #D13232;
    -background: #eee;
    padding: 10px 0;
}

section a {
    padding: 20px 0;
    margin: 30px 0;
    color: #D13232;
    font-family: 'Nexa Bold';
    text-decoration: none;
}

section a:hover {
    text-decoration: underline;
}

section img {
    float: right;
    margin: 20px;
}

.concert {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    text-align: left;

    background: #ddd url('img/6.jpg'); 
    background-size: 200%;
    background-position: 50% 60%;
    background-blend-mode: screen;
    display: inline-block;
    padding: 20px 25px;
    margin: 10px 25px 25px 25px;
    width: 300px;
}

.concert .date {
    color: #888;
    margin: 10px 0;
}

.concert .date span {
    color: #D13232;
    margin-left: 5px;
}

.concert .date::before {
    content: '';
    position: relative;
    top: 2px;
    background :url('img/calendar.png');
    background-size: 100%;
    opacity: .5;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    display: inline-block;
}

.concert .location {
    font-size: 25px;
}

.concert .ticket-btn {
    background: #D13232;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    display: block;
    width: 120px;
    text-align: center;
    margin: 20px 0;
}

@media screen and (max-width: 800px) {
    .content {
        padding: 0;
    }
    section {
        padding: 25px 0 0 0;
        margin: 25px auto 0 auto;
        width: 90%;
    }

    section h1 {
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }

    section p {
        width: 100% !important;
        margin: 20px 0;
    }

    section a {
        text-align: center;
        display: block;
        margin: 0 auto;
    }

    section img {
        margin: 0 auto;
        width: 90%;
        height: auto;
        float: none;
        display: block;
    }

    section .concert {
        margin: 20px auto;
        width: 60vw;
    }
}

footer {
    width: 100%;
    padding: 50px 0;
    background: #111 url('img/3.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-blend-mode: overlay;
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
}

footer nav {
    margin: 25px;
    padding: 10px;  
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}

footer nav a {
    color: #fff;
    text-decoration: none;
    font-family: 'Nexa Bold';
    font-size: 16px;
    padding: 10px 25px;
}

footer nav a:hover {
    color: #D13232;
}

footer .social {
    padding: 20px 0;
    margin: 20px auto 0 auto;
}

footer .social a {
    margin: 0 20px;
}

footer .social a img {
    height: 42px;
}

footer .footer-content {
    display: inline-block;
    margin: 10px 25px;
    color: #fff;
}

@media screen and (max-width: 800px) {
    footer nav a {
        font-size: 12px;
        padding: 10px;
    }

}